footer.footer-a
  .container
    .row
      .col
        ul.footer-list
          li.footer-spacing
            a.footer-text(href='#') Terms and Conditions
          li.footer-spacing
            a.footer-text(href='#') Privacy Policy
      .col
        ul.footer-list
          li.footer-spacing
            a.footer-text(href='/feedback') Feedback
          li.footer-spacing
            a.footer-text(href='/howtoplay') How to Play
      div
        .container.copyright-text
          | Copyright 
          span#date
          |  P.D: A crime solving game