extends ../layout/index
block content
  .content
    .col-md-10.m-auto
      main
        br
        .bg-color-white.rounded.shadow.p-3.mb-5.content-inside
          h1.title HOW TO PLAY
        .bg-color-white.rounded.shadow.p-3.mb-5
          h2.h2-title TO START OFF...
          p 1. Pick up and read the 'case file' to get information about the case.
          img.img-thumbnail.img-resize(src='/images/howtoplay/casefile_screenshot.png',   alt='casefile-screenshot')
          br
          br
          p
            | 2. Next go the 'directory' and choose from the list of residents  oservices to visit to get more   information and clues.
          img.img-thumbnail.img-resize(src='/images/howtoplay/directory_screenshot.png',   alt='directory-screenshot')
          br
          br
          p 3. You can take notes as you go along in the 'notes' section.
          img.img-thumbnail.img-resize(src='/images/howtoplay/notes_screenshot.png',  alt='notes-screenshot')
          br
          br
          p
            | 4. If you are confident with who the culprit is, click on 'solveand   choose the name in the drop down   menu.
          img.img-thumbnail.img-resize(src='/images/howtoplay/solve_screenshot.png',  alt='solve-screenshot')


              

