extends ../layout/index
block content
  .content
    .col-md-10.m-auto
      main.hidden
        br
        .bg-color-white.rounded.shadow.p-3.mb-5.content-inside
          h1.title CASE FILE #1 : Beneath the colours
        .bg-color-white.rounded.shadow.p-3.mb-5
          p.date-style 15th April 
          p
            | The town of Hue is a small town. Everyone knew each other, grew   up together, and took care of one another. So it caused a great stir when   news got out that one of their own was found murdered. 
            br
            br
            |The town has never had a murder case before, so their police department  sent out a message to our department seeking our help. We have decided to  send you to Hue to look into this case and find the culprit of the murdered  victim. The town is in lockdown since the murder, but the mayor said they can't lock it down for too long. The people are growing restless each passing day, aware that a murder is still walking among them.
            br
            br
            |The only information you have been given was the name of the victim Jonathan White, who was found dead in his house by a neighbour on the 12th of April.     
        .bg-color-white.jumbotron.jumbotron-fluid.rounded.shadow.p-3.mb-content-inside
          .container
          div(style='text-align: center;')
            img.img-fluid(src='/images/case_1_img.png', alt='Case_1_towns')
