extends ../layout/index
block content
  .content
    .col-md-10.m-auto
      main
        br
        .bg-color-white.rounded.shadow.p-3.mb-5.content-inside
          h1.title DIRECTORY
        .bg-color-white.rounded.shadow.p-3.mb-5
          .container
            .row
              .col-sm-12.col-md-6
                .card(style='width: 18rem; text-align:center;')
                  img(src='/images/resident.png', alt='residents')
                  .card-body
                    h5.card-title Residents
                    a.directory-links(href='/directory/Marcus_Black')
                      p.card-text Marcus Black
                    a.directory-links(href='/directory/Florence_Brown')
                      p.card-text Florence Brown
                    a.directory-links(href='/directory/Peter_Green')
                      p.card-text Peter Green
                    a.directory-links(href='/directory/Devine_Silver')
                      p.card-text Devine Silver
                    a.directory-links(href='/directory/Jonathan_White')
                      p.card-text Jonathan White
              .col-sm-12.col-md-6
                .card(style='width: 18rem; text-align:center;')
                  img(src='/images/services.png', alt='services')
                  .card-body
                    h5.card-title Services
                    a.directory-links(href='/directory/Forensics_Service_Department')
                      p.card-text Forensics Service Department
                    a.directory-links(href='/directory/Main_Town_Hospital')
                      p.card-text Main Town Hospital
                    a.directory-links(href='/directory/Police_Station')
                      p.card-text Police Station
                    a.directory-links(href='/directory/The_Barking_Walrus_Pub')
                      p.card-text The Barking Walrus Pub
        
        
        
        
        
  
            



